:root{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
  height: 100vh;
}

.container{
    display: flex;
    justify-content: space-between;
}

.header{
    margin-top: 30px;
    color:#956eb1;
    padding-left: 30px;
    padding-bottom: 30px;

}

.main{
    font-weight:400;
    font-size: 40px;
    margin-bottom: 50px;
   
}
.second{
    font-weight: 400;
    font-size: 20px;

}

.selection{
    display: flex;
    justify-content:space-between;
    padding: 30px;
    margin: 0;
}
.selection div{
    width: 30%;
    display: flex;
}

.selection div  label{
    margin-right: 10px ;
    font-size: 16px;
    color: gray;
    padding-top: 10px;
}
.selection div  select{
    flex-grow: 1;
    display: inline-block;
    padding: 10px;
    background-color: #8dd0fa;
    border: none;
    color: #515151;
    border-radius: 5px;
}

.graph {
    display: flex;
    color: gray;
    padding: 30px;
    padding-left: 0;
    max-height: 500px;
    background-color: white;
    margin : 30px;
    min-width: 1025px;
    justify-content: space-between;
    border-radius: 10px;
}

.graph .chart{
    width: 70%;
    background-color: white;
}
.graph .chart div{
    margin: 30px;
}

.graph .graphHeader{
  position: relative;
  top: 0px;
  left: 100px;

}
.graph .slide{
    width: 30%;
    background-color: white;
    border-left: 1px solid gray;
    padding: 30px;
    overflow: scroll;
    max-width: 275px;
    
}

.graph .slide .total span {
    font-size: 25px;
}
.graph .slide .total {
    font-size: 20px;
    
}
.graph .slide .total.heading {
    width: fit-content;
    margin-bottom: 30px;
}
.graph .slide .total div {
    font-size: 13px;
    
    
}

.graph .slide .total.input {
    display: flex;
    margin-bottom: 30px;

}
.graph .slide .total.input .input{
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
    align-self: center;

}


  input[type="checkbox"]{
    width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: gray;
}



  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #48494a;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #48494a;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  .dark{
      display: inline-block;
     padding: 10px; 
    position: relative;
    top: 8px;
  }

  .data-container{
    margin: 30px;
    padding: 10px;
  }

.data-container div{
    margin-bottom: 10px;
}

.pageSize{
  width: 1260px;
  margin: auto;
}

.home-button{
  display: inline-block;
  text-decoration: none;
  color: #eee;
  background-color: #956eb1;
  padding: 10px;
  border-radius: 5px;
}

.border{
  border: 1px solid #956eb1;
  padding: 30px;
  border-radius: 10px;
}

.row{
  width: 50%;
  margin-right: auto;
  display: flex;
  
}

.row .title{
  width: 30%;
  font-weight: 600;
}